<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
	<parameter name="browser" value="chrome" />

	<test name="Test Basics 1">
		<parameter name="username" value="fawad.malik@hotmail.com" />
		<classes>
			<class name="com.fm.auto.merc.lightning.CSG.regression.Features" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->